*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/**share classes**/
:root{
    --dark:#000000;
    --normal-dark:#111111;
    --dark-1: #252432;
    --grey:#6B7280;
    --gray-1:#8987A1;
    --gray-2:rgba(0, 0, 0, 0.5);
    --orange:#E95A08;
    --white:#fff;
    --overlay:#C8C8C8;
    --icon-ln-bg:#2489BE;

}
.common-fonts-paragraph{
    font-size: 1.375rem;
    font-family: "Inter", sans-serif;
    color: var(--gray-2);
}

.noto-serif-font{
  font-family: "Noto Serif", serif;
}

.inter-font {
  font-family: "Inter", sans-serif;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.display-flex{
    display: flex;
    align-items: center;
}
.fresh-flowers{
    color: var(--orange);
}
.fresh-flowers-plants-title{
    font-size: 3.125rem;
    font-weight: 700;
    font-family: "Noto Serif", serif;
}
.fresh-flowers-plants{
    color: var(--orange);
}
.btn{
   padding: 19px 80px;
   background-color: var(--orange);
   font-size: 1rem;
   color: var(--white);
   background-color: var(--orange);
   position: relative;
   cursor: pointer;
   overflow: hidden;
   z-index: 1;
}
.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #e77634;
  z-index: -1;
  transition: left 1s ease;
}

.btn:hover::before {
  left: 0;
}




/**header section style**/
/**navbar style**/
.header-content{
   margin: 30px auto 109px;
}
.logo-section img{
    height: 82px;
}
.nav-bar{
    justify-content: space-between;
}
.nav-items-section{
    padding: 18px 0;
}
.nav-items-section ul {
    gap: 48px;
}
.nav-items-section ul li{
    list-style: none;
}
.nav-items-section ul li a{
    text-decoration: none;
    color: var(--gray-1);
}
#home-active{
    color: var(--dark-1);
    font-weight: 700;
}
.cart{
    gap:10px;
}
.cart p{
    font-size: 1rem;
    color: var(--dark);
}

/**main container style**/


/**hero section style**/
.hero-content{
    justify-content: space-between;
    align-items: flex-end;
}
.left-hero-section{
    flex: 1;
}
.left-hero-section h1{
    font-size: 4.0625rem;
    color: var(--dark);
    font-weight: 700;
}
 
.fresh-flowers{
    color: var(--orange);
}
.left-hero-section p{
    margin-top: 13px;
}
.right-hero-img{
    flex: 1;
    padding-top: 106px;
}
.right-hero-img img{
    display: block;
}

/**plant section style**/
.plants-content{
    flex-direction: column;
    gap: 49px;
    margin-top: 120px;
}
.plant-section{
    margin-bottom: 210.13px;
}
.plants-header-section{
    justify-content: center;
    flex-direction: column;
    gap: 16px;
}
.plants-description{
    max-width: 888px;
    text-align: center;
}
.card-content{
    text-align: center;
    padding-top: 30px;
}
.card-img img{
    display: block;
}
.card-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 30px;
    column-gap: 20px;
}
.card{
    width: 270px;
}
.card-content p{
    padding-bottom: 10px;
    font-size: 1.375rem;
    color: var(--normal-dark);
}
.card-content strong{
    font-weight: 700;
    font-size: 1.375rem;
    color: var(--normal-dark);
}
.card-content button{
    border: none;
    width: 100%;
    margin-top: 25px;
}


/**badge section **/
.spinner {    
  animation: spin 2s ease-out infinite;
}

@keyframes spin {
  0% { 
    transform: rotate(0deg);
 }
  100% { 
    transform: rotate(360deg); 
}
}

.badge-content{
    gap: 60px;
}
.badge-img-section{
    position: relative;
}
.badge{
    width: 286px;
    height: 286px;
    position: absolute;
    top: -127px;
    right: -93px;
}
.badge img{
    width: 100%;
    height: 100%;
}
.flower-lover-content{
    max-width: 540px;
}
.flower-lover-content ul{
    margin-left: 20px;
    gap: 20px;
    flex-direction: column;
}

/**Latest  Deals style**/
.latest-deals-content{
    text-align: center;
}
.latest-deals-content h2{
    padding: 0px 0px 20px;
}
.latest-deals{
    margin: 133px 0px 120px;
}

/** discount section style**/
.discount-content{
    display: grid;
    row-gap: 25px;
    column-gap: 28px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:  repeat(2,201px);
}
.grid-item-1, .grid-item-2, .grid-item-3 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.grid-item-1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6)), url('./assets/deal-bloom.png');
    border-radius: 14px;
}
.grid-item-2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6)), url('./assets/deal-zabo.png');
    padding: 65px 48px;
    border-radius: 22px;
}
.grid-item-3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6)), url('./assets/deal-ana.png');
    border-radius: 14px;
}
.grid-item:nth-child(2){
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}
.content a{
    text-decoration: underline;
    text-underline-offset: 6px;
    color: var(--white);
}
.cta{
    padding: 15px 66px;
}
.content{
    color: var(--white);
}
.content p{
    font-size: 1.25rem;
}
.grid-item-2 .content p{
    font-size: 2.5rem;
    font-weight: 700;
}

/**bunch section **/
.bunch-section{
    margin-top: 120px;
}
.bunch-content{
    max-width: 1440px;
    margin: auto;
    height: 533px;
    background-image: url(./assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    flex-direction: column;
    gap: 23px;
}
#email{
    padding: 15.5px 20px 15.5px;
    flex: 1;
    outline: none;
    border: none;
    background-color: var(--white);
    color: var(--dark-1);

}
.input-field{
  width: 830px;
  display: flex;
}
.input-field .btn{
    border: none;
}
.bunch-content h2{
    color: var(--white);
}

/**footer content**/
footer{
    width: 100%;
    background-color: var(--white);
}
.footer-content{
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px 0px;
}
.include{
    margin-top: 16px;
}
.footer-logo{
    width: 359px;
}
.page-link ul, .privacy-policy ul{
    align-items: flex-start;
    flex-direction: column;
    gap: 32px;
}
.page-link ul li, .privacy-policy ul li{
    list-style: none;
}
.page-link ul li a, .privacy-policy ul li a{
    text-decoration: none;
    color: var(--grey);
}
.social-media a{
    text-decoration: none;
}
.social-media{
    gap: 24px;
}

@media only screen and (max-width: 576px){
/**navbar style**/
.logo-section img{
    width: 63px;
    height: 38px;
}
.header-content{
   margin: 13px 16px 28px;
}
.nav-items-section li{
    display: none;
}
/**hero section responsive**/
.hero-content{
    flex-direction: column-reverse;
}
.left-hero-section{
    padding: 28px 16px 16px;
}
.left-hero-section h1{
    font-size: 1.5rem;
}
.left-hero-section p{
    font-size: 0.875rem;
}
.right-hero-img{
    padding-top: 0px;
}  
.right-hero-img img{
    width: 100%;
    display: block;
}
/**plant section responsive**/
.plants-content{
    gap: 28px;
    margin: 65px 16px 0px;
}
.card-container {
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    row-gap: 28.5px;
    column-gap: 20px;
    margin: 0px 16px 41px;
    width: 100%;
}
.card-img img{
    width: 100%;
}
.card-content p{
    font-size: 1rem;
}
.card-content button{
    padding: 19px 0;
}
.card {
    width: 100%;
    max-width: 262px;
}
.plant-section{
    margin-bottom: 41.5px;
}
.plants-header-section p{
    font-size: 0.875rem;
} 
/**badge section responsive **/
.badge-content{
    gap: 18px;
    flex-direction: column; 
    margin: 0px 16px 143px; 
}
.badge{
    display: none;
}
.flower-store img{
    width: 100%;
}
.flower-lover-content h2{
    font-size: 1.5rem;
}
.flower-lover-content ul li{
    font-size: 0.875rem;
    margin: 0;
}
/**Latest  Deals responsive**/
.latest-deals-content{
    padding: 16px;
}
.latest-deals-content h2{
    font-size: 1.5rem;
}
.latest-deals-content p{
    font-size: 0.875rem;
}
.latest-deals{
    margin-bottom: 51.5px;
}
/**discount section responsive**/
 .discount-content {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin: 45px 16px 40px;
}
.grid-item:nth-child(2) {
    grid-column: auto;
    grid-row: auto;
    order: 3;
}
.grid-item {
    height: 184px;
}
.grid-item-2 {
    padding: 40px 24px;
}
.grid-item-2 .content p {
    font-size: 1.75rem;
}
.grid-item-2 .content p{
    font-size: 1.25rem;
}
/**bunch section **/
.bunch-section{
    margin-top: 0px;
}
.bunch-content{
    max-width: 100%;
    height: 276px;
}
.input-field{
  width: 321px;
}
.input-field .btn{
    padding: 19px 12px;
}
.bunch-content h2{
    font-size: 1.25rem;
    font-weight: 700;
}
/**footer content responsive**/
.footer-content{
    flex-direction: column;
    padding: 50px 20px;
    gap: 20px;
}
.include{
    font-size: 1rem;
}
.footer-logo{
    width: 100%;
}
.footer-logo .img img{
    width: 180px;
    height: 109px;
}
}

@media only screen and (max-width: 393px) {
/**navbar style**/
.logo-section img{
    width: 63px;
    height: 38px;
}
.header-content{
   margin: 13px 16px 28px;
}
.nav-items-section li{
    display: none;
}
/**hero section responsive**/
.hero-content{
    flex-direction: column-reverse;
}
.left-hero-section{
    padding: 28px 16px 16px;
}
.left-hero-section h1{
    font-size: 1.5rem;
}
.left-hero-section p{
    font-size: 0.875rem;
}
.right-hero-img{
    padding-top: 0px;
}  
.right-hero-img img{
    width: 100%;
    display: block;
} 
/**plant section responsive**/
.plants-content{
    gap: 28px;
    margin: 65px 16px 0px;
}
.card-container {
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    row-gap: 28.5px;
    column-gap: 20px;
    margin: 0px 16px 41px;
    width: 100%;
}
.card-img img{
    width: 100%;
}
.card-content p{
    font-size: 1rem;
}
.card-content button{
    padding: 19px 0;
}
.card {
    width: 100%;
    max-width: 171px;
}
.plant-section{
    margin-bottom: 41.5px;
}
.plants-header-section p{
    font-size: 0.875rem;
}
/**badge section responsive **/
.badge-content{
    gap: 18px;
    flex-direction: column; 
    margin: 0px 16px 143px; 
}
.badge{
    display: none;
}
.flower-store img{
    width: 100%;
}
.flower-lover-content h2{
    font-size: 1.5rem;
}
.flower-lover-content ul li{
    font-size: 0.875rem;
    margin: 0;
}
/**Latest  Deals responsive**/
.latest-deals-content{
    padding: 16px;
}
.latest-deals-content h2{
    font-size: 1.5rem;
}
.latest-deals-content p{
    font-size: 0.875rem;
}
.latest-deals{
    margin-bottom: 51.5px;
}
/**discount section responsive**/
 .discount-content {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin: 45px 16px 40px;
}
.grid-item:nth-child(2) {
    grid-column: auto;
    grid-row: auto;
    order: 3;
}
.grid-item {
    height: 184px;
}
.grid-item-2 {
    padding: 40px 24px;
}
.grid-item-2 .content p {
    font-size: 1.75rem;
}
.grid-item-2 .content p{
    font-size: 1.25rem;
}

/**bunch section **/
.bunch-section{
    margin-top: 0px;
}
.bunch-content{
    max-width: 393px;
    height: 276px;
}
.input-field{
  width: 321px;
}
.input-field .btn{
    padding: 19px 12px;
}
.bunch-content h2{
    font-size: 1.25rem;
    font-weight: 700;
}
/**footer content responsive**/
.footer-content{
    flex-direction: column;
    padding: 50px 20px;
    gap: 20px;
}
.include{
    font-size: 1rem;
}
.footer-logo{
    width: 100%;
}
.footer-logo .img img{
    width: 180px;
    height: 109px;
}
}